agm-map {
  height: 92.6vh;
}

mat-progress-bar {
  height: 0.4vh;
}

mat-toolbar {
  height: 7vh;
  .toolbar-logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 15px;
    .toolbar-logo {
      height: 80%;
    }
  }
}

.fill-space-flex {
  flex: 1 1 auto;
}
