<div class="modal-header">
  <h4 class="modal-title">Ajout d'un bien immobilier</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-progress-bar [color]="'primary'" [value]="uploadPourcentage" class="upload-progress-bar"
                  [ngClass]="{'upload-progress-bar-active': isUploading}">
</mat-progress-bar>
<div class="modal-body">
  <mat-accordion [multi]="true">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img class="create-marker-icon-title" src="assets/house.png" alt="BienImmobilier" draggable="false">
          Bien immobilier
        </mat-panel-title>
        <mat-panel-description>Renseignements généraux sur le bien immobilier</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="form-row">
        <div class="col-lg-6">
          <div class="btn-group btn-group-toggle create-marker-contact-type-choice" ngbRadioGroup name="radioBasic"
               [(ngModel)]="isHouseTypeSelected">
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="false"> Appartement
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="true"> Maison
            </label>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="btn-group btn-group-toggle create-marker-contact-type-choice" ngbRadioGroup name="radioBasic"
               [(ngModel)]="isLocationTypeSelected">
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="false"> Achat immobilier
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="true"> Location
            </label>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img class="create-marker-icon-title" src="assets/map.png" alt="Localisation" draggable="false">
          Localisation
        </mat-panel-title>
        <mat-panel-description>Endroit où se trouve le bien</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="form-row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="create_marker_latitude_location">Latitude</label>
            <input type="text" class="form-control" id="create_marker_latitude_location" placeholder="Latitude"
                   [value]="marker.lat" disabled>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="create_marker_longitude_location">Longitude</label>
            <input type="text" class="form-control" id="create_marker_longitude_location" placeholder="Longitude"
                   [value]="marker.lng" disabled>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-lg-12">
          <div class="form-group">
            <label for="create_marker_address_location">Adresse</label>
            <input type="text" class="form-control" id="create_marker_address_location" placeholder="Adresse">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="create_marker_postalcode_location">Code Postal</label>
            <input type="text" class="form-control" id="create_marker_postalcode_location" placeholder="Code Postal">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="create_marker_city_location">Ville</label>
            <input type="text" class="form-control" id="create_marker_city_location" placeholder="Ville">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-lg-12">
          <div class="form-group">
            <label for="create_marker_moreinfos_location">Informations complémentaires</label>
            <textarea class="form-control" id="create_marker_moreinfos_location" rows="5"
                      placeholder="Informations complémentaires sur le bien immobilier concernant la localisation ou le batiment ..."></textarea>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img class="create-marker-icon-title" src="assets/telephone.png" alt="Contact" draggable="false">
          Contact
        </mat-panel-title>
        <mat-panel-description>Personne / agence de contact pour ce bien immobilier</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="form-row" class="agence-or-person-wrapper">
        <div class="btn-group btn-group-toggle create-marker-contact-type-choice" ngbRadioGroup name="radioBasic"
             [(ngModel)]="isAgenceTypeSelected">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="false"> Particulier
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="true"> Agence
          </label>
        </div>
      </div>
      <div *ngIf="!isAgenceTypeSelected">
        <div class="form-row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="create_marker_civility_person">Civilité</label>
              <select type="text" class="form-control" placeholder="Civilite personne" id="create_marker_civility_person">
                <option value="" disabled selected>Selectionner une valeur ici</option>
                <option value="Mme">Mme</option>
                <option value="Mr">Mr</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="create_marker_lastname_person">Nom</label>
              <input type="text" class="form-control" placeholder="Nom personne" id="create_marker_lastname_person">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="create_marker_firstname_person">Prénom</label>
              <input type="text" class="form-control" placeholder="Prénom" id="create_marker_firstname_person">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="create_marker_address_person">Adresse</label>
              <input type="text" class="form-control" placeholder="Adresse" id="create_marker_address_person">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="create_marker_postalcode_person">Code postal</label>
              <input type="text" class="form-control" placeholder="Code postal" id="create_marker_postalcode_person">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="create_marker_city_person">Ville</label>
              <input type="text" class="form-control" placeholder="Ville" id="create_marker_city_person">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="create_marker_moreinfos_person">Commentaires</label>
              <textarea class="form-control" id="create_marker_moreinfos_person" rows="5"
                        placeholder="Informations complémentaires sur la personne et ses habitudes de contact, précisions diverses ..."></textarea>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isAgenceTypeSelected">
        <div class="form-row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="create_marker_firstname_person">Nom agence</label>
              <input type="text" class="form-control" placeholder="Prénom" id="create_marker_firstname_person">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="create_marker_address_person">Adresse</label>
              <input type="text" class="form-control" placeholder="Adresse" id="create_marker_address_person">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="create_marker_firstname_person">Code postal</label>
              <input type="text" class="form-control" placeholder="Prénom" id="create_marker_firstname_person">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="create_marker_address_person">Ville</label>
              <input type="text" class="form-control" placeholder="Adresse" id="create_marker_address_person">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="create_marker_moreinfos_person">Commentaires</label>
              <textarea class="form-control" id="create_marker_moreinfos_person" rows="5"
                        placeholder="Informations complémentaires sur la personne et ses habitudes de contact, précisions diverses ..."></textarea>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="create_marker_civility_person">Civilité</label>
              <select type="text" class="form-control" placeholder="Civilite personne" id="create_marker_civility_person">
                <option value="" disabled selected>Selectionner une valeur ici</option>
                <option value="Mme">Mme</option>
                <option value="Mr">Mr</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6"></div>
        </div>
        <div class="form-row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6"></div>
        </div>
        <div class="form-row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6"></div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img class="create-marker-icon-title" src="assets/email.png" alt="ImagesEtDocuments" draggable="false">
          Images & Documents
        </mat-panel-title>
        <mat-panel-description>Images et document en rapport avec le bien</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="form-row">
        <div class="col-lg-6">
          <button type="button" mat-raised-button color="primary" (click)="createMarkerDocumentInput.click()">Ajouter
            une image / document
          </button>
          <input hidden type="file" #createMarkerDocumentInput (change)="onFileInputChanged($event)"/>
        </div>
        <div class="col-lg-6 create_marker_file_extensions_wrapper">
          <img src="assets/file_extensions/doc.png" alt="DOC" draggable="false">
          <img src="assets/file_extensions/txt.png" alt="TXT" draggable="false">
          <img src="assets/file_extensions/pdf.png" alt="PDF" draggable="false">
          <img src="assets/file_extensions/xls.png" alt="XLS" draggable="false">
          <img src="assets/file_extensions/jpg.png" alt="JPG" draggable="false">
          <img src="assets/file_extensions/png.png" alt="PNG" draggable="false">
        </div>
      </div>
    </mat-expansion-panel>

  </mat-accordion>
</div>
<div class="modal-footer">
  <button mat-raised-button color="primary">Enregistrer</button>
  <button mat-button (click)="activeModal.close('Close click')">Fermer</button>
</div>
