mat-panel-title {
  font-weight: bold;
}

mat-panel-description {
  text-align: right;
  display: block;
  margin-right: 15px;
}

.mat-expansion-panel.mat-expanded {
  border-left: 3px solid #3F51B5;
  box-sizing: border-box;
  mat-expansion-panel-header {
    mat-panel-description {
      color: #3F51B5;
    }
  }
}

.modal-header {
  background-color: #3F51B5;
  color: white;
  .close {
    color: white;
  }
}
