.upload-progress-bar {
  height: 10px;
  display: none;
  &-active {
    display: block;
  }
}

mat-panel-title {
  font-weight: bold;
  display: flex;
  align-items: center;
  img.create-marker-icon-title {
    margin-right: 15px;
  }
}

mat-panel-description {
  text-align: right;
  display: block;
  margin-right: 15px;
}

.location-or-buying-wrapper {
  margin-top: 15px;
}

.agence-or-person-wrapper {
  margin-bottom: 15px;
}

.create-marker-contact-type-choice {
  width: 100%;
  label {
    width: 50%;
  }
}

.create_marker_file_extensions_wrapper {
  img {
    float: right;
  }
}

.mat-expansion-panel.mat-expanded {
  border-left: 3px solid #3F51B5;
  box-sizing: border-box;
  mat-expansion-panel-header {
    mat-panel-description {
      color: #3F51B5;
    }
  }
}

.modal-header {
  background-color: #3F51B5;
  border-bottom: 0;
  color: white;
  .close {
    color: white;
  }
}
